*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, html {
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
	overflow-x: hidden;
	font-size: 62.5%;
	-webkit-text-size-adjust: 62.5%;
      -ms-text-size-adjust: 62.5%;
}

body {
	min-height: 100%;
	font: 300 1.4em/1.5 'Open Sans', Roboto, sans-serif;
	color: #333;
}
div {
	display: block;
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a {
	color: #ff5000;
	text-decoration: none;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
a:hover, a:active, a:focus {
	color: #ff5000;
	outline: none;
}
::-webkit-selection {
	color: #fff;
	background: #ff5000;
}
::-moz-selection {
	color: #fff;
	background: #ff5000;
}

::selection {
	color: #fff;
	background: #ff5000;
}
.gallery-item img {
	position: relative;
	max-width: 100%;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition: 0.9s;
	-o-transition: 0.9s;
	transition: 0.9s;
}
.gallery-item:hover img {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}

/* ===============
	start 
   =============== */
   
@-moz-keyframes spinner {
	0% {
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		-ms-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

@-webkit-keyframes spinner {
	0% {
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		-ms-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

@-ms-keyframes spinner {
	0% {
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		-ms-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

@keyframes spinner {
	0% {
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		-ms-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

/* Basic */

@-ms-viewport {
	width: device-width;
}

body {
	-ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {

	html, body {
		min-width: 320px;
	}

}

body {
	background: #242629;
}

body.loading *, body.loading *:before, body.loading *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

body.resizing *, body.resizing *:before, body.resizing *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}
		
/* ===============
	WRAPPER 
   =============== */
   
#wrapper {
	-moz-transition: -moz-filter 0.5s ease, -webkit-filter 0.5s ease, -ms-filter 0.5s ease, -moz-filter 0.5s ease;
	-webkit-transition: -moz-filter 0.5s ease, -webkit-filter 0.5s ease, -ms-filter 0.5s ease, -webkit-filter 0.5s ease;
	-ms-transition: -moz-filter 0.5s ease, -webkit-filter 0.5s ease, -ms-filter 0.5s ease, -ms-filter 0.5s ease;
	transition: -moz-filter 0.5s ease, -webkit-filter 0.5s ease, -ms-filter 0.5s ease, filter 0.5s ease;
	position: relative;
}

#wrapper:after {
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	-moz-transition: opacity 0.5s ease, visibility 0.5s;
	-webkit-transition: opacity 0.5s ease, visibility 0.5s;
	-ms-transition: opacity 0.5s ease, visibility 0.5s;
	transition: opacity 0.5s ease, visibility 0.5s;
	background: rgba(36, 38, 41, 0.5);
	content: '';
	display: block;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	visibility: hidden;
	width: 100%;
	z-index: 1;
}
	
body.ie #wrapper:after {
	background: rgba(36, 38, 41, 0.8);
}

#wrapper:before {
	-moz-animation: spinner 1s infinite linear !important;
	-webkit-animation: spinner 1s infinite linear !important;
	-ms-animation: spinner 1s infinite linear !important;
	animation: spinner 1s infinite linear !important;
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	-moz-transition: top 0.75s ease-in-out, opacity 0.35s ease-out, visibility 0.35s;
	-webkit-transition: top 0.75s ease-in-out, opacity 0.35s ease-out, visibility 0.35s;
	-ms-transition: top 0.75s ease-in-out, opacity 0.35s ease-out, visibility 0.35s;
	transition: top 0.75s ease-in-out, opacity 0.35s ease-out, visibility 0.35s;
	background-image: url("../img/spinner.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: '';
	display: block;
	font-size: 2em;
	height: 2em;
	left: 50%;
	line-height: 2em;
	margin: -1em 0 0 -1em;
	opacity: 0;
	position: fixed;
	text-align: center;
	top: 75%;
	visibility: hidden;
	width: 2em;
}
body.loading #wrapper:before {
	-moz-transition: opacity 1s ease-out !important;
	-webkit-transition: opacity 1s ease-out !important;
	-ms-transition: opacity 1s ease-out !important;
	transition: opacity 1s ease-out !important;
	-moz-transition-delay: 0.5s !important;
	-webkit-transition-delay: 0.5s !important;
	-ms-transition-delay: 0.5s !important;
	transition-delay: 0.5s !important;
	opacity: 0.25;
	top: 50%;
	visibility: visible;
}

/* ===============
	HEADER 
   =============== */

.rcr-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background-color: rgba(0,0,0,.5);
    z-index: 3;
}

#rcr-logo {
    float: left;
    margin: 10px 0 0 5%;
}
#rcr-logo > a > img {
	width: 200px;
	border: 0;
}

@media only screen and (min-width: 768px) {
	.rcr-header {
		height: 70px;
		background-color: transparent;
		box-shadow: none;
	}
	#rcr-logo {
		margin: 15px 0 0 5%;
	}	
}

/* ===============
	NAVIGATION 
   =============== */

.rcr-primary-nav {
	float: right;
	margin-right: 5%;
	width: 44px;
	height: 100%;
	background: url("../img/rcr-icon-menu.svg") no-repeat center center;
	background-size: 44px 44px;
}
.open-mobile {
	background-size: 44px 44px;
	background: url("../img/rcr-icon-close.svg") center center no-repeat;
	-webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}

.rcr-primary-nav ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
}
.rcr-primary-nav ul.is-visible {
	-webkit-transform: translateY(50px);
	-moz-transform: translateY(50px);
	-ms-transform: translateY(50px);
	-o-transform: translateY(50px);
	transform: translateY(50px);	
}

.rcr-primary-nav a {
	display: block;
	height: 50px;
	line-height: 50px;
	padding-left: 5%;
	background: rgba(0,0,0,.5);
	border-top: 1px dotted #1b1a1a;
	color: #fff;
}
@media only screen and (min-width: 768px) {
	.rcr-primary-nav {
		width: auto;
		height: auto;
		background: none;
	}
	.rcr-primary-nav ul {
		position: static;
		width: auto;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
		line-height: 70px;
	}
	.rcr-primary-nav ul.is-visible {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
	.rcr-primary-nav li {
		display: inline-block;
		margin-left: 1em;
	}
	.rcr-primary-nav a {
		display: inline-block;
		height: auto;
		line-height: normal;
		background: transparent;
		color: #f0eee1;
		border-top: none;
		text-decoration: none;
		letter-spacing: 1px;
		font-family: 'Open Sans Condensed';
		font-size: 1.8rem;
		text-transform: uppercase;
		font-weight: 300;
		position: relative;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
		padding: .6em 1em;
	}
	.rcr-primary-nav a:hover {
		text-decoration: none;
		color: #f0eee1;
	}
	.rcr-primary-nav a:after {
		content: "";
		position: absolute;
		height: 1px;
		bottom: 8px;
		left: 15px;
		right: 15px;
		background-color: #f0eee1;
		visibility: hidden;
		-webkit-transform: scaleX(0);
		-moz-transform: scaleX(0);
		-ms-transform: scaleX(0);
		-o-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		-moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		-ms-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		-o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
	.rcr-primary-nav a:hover:after {
		visibility: visible;
		-webkit-transform: scaleX(1);
		-moz-transform: scaleX(1);
		-ms-transform: scaleX(1);
		-o-transform: scaleX(1);
		transform: scaleX(1);
	}
} 

.rcr_top {
	position: relative;
	height: 100vh;
	background: transparent url("../img/bg-img.jpg") no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}

.overlay {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent url("../img/overlay_02.png");
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #000;
  margin-bottom: 2.5rem;
}

h1 {font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}
/* 
h1 {
  font-size: 60px; }
h2 {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-size: 40px;
  font-weight: 300;
  color: #3D4351; }
h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #3D4351; }
h4 {
  font-size: 18px; }
h5 {
  font-size: 15px;
  color: #3D4351;
  text-transform: uppercase;
  font-weight: 500; }
h4 {	
	color: #00baff;
	letter-spacing: 1px;
} */
p {
	padding: 0 0 1em;
	margin-bottom: 1.5em;
	text-rendering: optimizeLegibility;
	text-align: left;  
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
}

/* ===============
	MEDIA 
   =============== */
   
@media screen and (max-width: 320px) {
	#rcr-logo {
		float: left;
		margin: 10px 0 0 5%;
	}
	#rcr-logo > a > img {
		width: 150px;
		border: 0;
	}
}
@media screen and (max-width: 480px) {
  
}
@media screen and (max-width: 768px) {
  
}   
@media screen and (max-width: 992px) {
  
}
@media screen and (max-width: 1200px) {
  
}