*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, html {
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
	overflow-x: hidden;
	font-size: 62.5%;
	-webkit-text-size-adjust: 62.5%;
      -ms-text-size-adjust: 62.5%;
}

body {
	min-height: 100%;
	background-color: #f0f0f0;
	/* background: -webkit-linear-gradient(top, #f6f7fc 0%, #d5e1e8 40%);
	background: linear-gradient(to bottom, #f6f7fc 0%, #d5e1e8 40%); */
	font: 300 1.6em/1.5 'Open Sans', Roboto, sans-serif;
	color: #333;
}
div {
	display: block;
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a {
    color: #f5484a;
    text-decoration: none;
}


/* ---------
	header 
------------ */

.rcr-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    /* background-color: #030d18; */
	background-color: rgba(0,0,0,.5);
    z-index: 3;
}

#rcr-logo {
    float: left;
    margin: 10px 0 0 5%;
}
#rcr-logo > a > img {
	width: 200px;
	border: 0;
}
.rcr-primary-nav {
    float: right;
    margin-right: 5%;
    width: 44px;
    height: 100%;
    background: url("../img/rcr-icon-menu.svg") no-repeat center center;
    background-size: 44px 44px;
}
.main-nav {
    float: right;
    margin-right: 5%;
    width: 44px;
    height: 100%;
    background: url("../img/rcr-icon-menu.svg") no-repeat center center;
    cursor: pointer;
}
.rcr-primary-nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}
.rcr-primary-nav a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 5%;
    background: #000101;
    border-top: 1px solid #051426;
    color: #fff;
}
@media only screen and (min-width: 768px) {
	.rcr-header {
		height: 70px;
		background-color: transparent;
		box-shadow: none;
	}
	#rcr-logo {
		margin: 15px 0 0 5%;
	}
	.rcr-primary-nav {
		width: auto;
		height: auto;
		background: none;
	}
	.rcr-primary-nav ul {
		position: static;
		width: auto;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
		line-height: 70px;
	}
	.rcr-primary-nav li {
		display: inline-block;
		margin-left: 1em;
	}
	.rcr-primary-nav a {
		display: inline-block;
		height: auto;
		line-height: normal;
		background: transparent;
		padding: .6em 1em;
		border-top: none;
		color: #fff;
	}
}


.rcr_top {
	position: relative;
	height: 100vh;
	background: transparent url("../img/bg-img.jpg") no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}

.overlay {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent url("../img/overlay_02.png");
    margin: 0;
    padding: 0;
}

.container {
	position: relative;
	width: 400px;
	height: 500px;
	margin: 120px auto 0;
	background-color: #fff;
	padding: 0 20px 20px;	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;	
		border-radius: 6px;	
	-webkit-box-shadow: 0 45px 100px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 45px 100px rgba(0, 0, 0, 0.4);
	box-shadow: 0 45px 100px rgba(0, 0, 0, 0.4);
	text-align: center;
}
.container:hover .avatar-flip {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}
.container:hover .avatar-flip img:first-child {
	opacity: 0;
}
.container:hover .avatar-flip img:last-child {
	opacity: 1;
}
.avatar-flip {
	border-radius: 50%;
	overflow: hidden;
	height: 150px;
	width: 150px;
	position: relative;
	margin: auto;
	top: -60px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	box-shadow: 0 0 0 13px #f0f0f0;
	-webkit-box-shadow: 0 0 0 13px #f0f0f0;
	-moz-box-shadow: 0 0 0 13px #f0f0f0;
}
.avatar-flip img {
	position: absolute;
	left: 0;
	top: 0;
	width: 150px;
	height: 150px;
	border-radius: 100px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}
.avatar-flip img:first-child {
	z-index: 1;
}
.avatar-flip img:last-child {
	z-index: 0;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	opacity: 0;
}
h1 {
  font-size: 60px; }

h2 {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-size: 40px;
  font-weight: 300;
  color: #3D4351; }

h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #3D4351; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 15px;
  color: #3D4351;
  text-transform: uppercase;
  font-weight: 500; }
/* h2 {
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 15px;
	color: #333;
}*/
h4 {	
	color: #00baff;
	letter-spacing: 1px;
}
p {
	padding: 0 0 1em;
	margin: 0;
	text-rendering: optimizeLegibility;
	text-align: left;  
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
}
/* p {
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 20px;
	color: #666;
} */


.my-box {
	position: absolute;
	right: 20px;
	bottom: 20px;
	overflow: hidden;
	width: 60px;
	height: 80px;
	padding: 10px;
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.43);
	transition: all 160ms ease-out;
}

.my-box .inner {
	overflow: hidden;
	position: relative;
	height: 100%;
}
.my-box .round {
	width: 40px;
	height: 40px;
	background: #2296F4;
	border-radius: 100%;
	margin: 10px 0 10px 0;
}

.my-box .label {
    background: #EEEDEF;
    height: 10px;
    width: 100%;
    margin: 20px 0;
}

.my-box .cap {
	background: #EEEDEF;
	height: 0;
	border-radius: 4px 4px 0 0;
}

.my-box:hover {
    bottom: 10px;
    right: 10px;
    width: 260px;
    height: 260px;
}

.my-box:hover .cap {
    transition: height 100ms ease-out, background 600ms .5s ease-out;
    height: 90px;
   background: red;
}